.inputs-container {
  display: flex;
  margin-bottom: 40px;
  // justify-content: space-between;
  gap: 30px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 10px;
  }
}

.range--input {
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(239, 239, 239, 1);
  width: 100%;
  display: inline-block;
  color: #0c0c0c;
  &--dark {
    background: white;
  }
}

.line {
  height: 1px;
  width: 25px;
  background-color: #0c0c0c;

  &--dark {
    background-color: white;
  }
}
