.input {
  border: 1px solid #0c0c0c;
  border-radius: 8px;
  outline: none;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  flex: 1 1 25%;
  display: inline-block;
  transition: all 0.1s;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  min-height: 45px;
  color: #0c0c0c;

  @media screen and (max-width: 1024px) {
    width: inherit;
  }

  &--dark::placeholder {
    color: rgba(255, 255, 255, 0.3);

    opacity: 1;
  }

  &--light::placeholder {
    color: rgba(0, 0, 0, 0.3);

    opacity: 1; /* Firefox */
  }

  &--dark {
    color: white;
    border: 1px solid white;
    background: #0c0c0c;
  }

  &--light {
    color: #0c0c0c;
    border: 1px solid #0c0c0c;
  }
}
