.input {
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  flex: 1 1 25%;
  display: inline-block;
  color: black;

  @media screen and (max-width: 1024px) {
    width: inherit;
  }

  &--dark::placeholder {
    color: white;
  }

  &--light::placeholder {
    color: black;
  }

  &--dark {
    color: white;
    border: 1px solid white;
    background: #0c0c0c;
  }

  &--light {
    color: black;
    border: 1px solid black;
  }
}
