.range {
  box-sizing: border-box;
  min-height: 45px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #0c0c0c;
  color: #0c0c0c;
  border-radius: 8px;
  flex: 1 1 25%;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  transition: background-color 0.1s, border 0.1s, color 0.1s;
  cursor: pointer;

  &--dark {
    border: 1px solid white;
    background: #0c0c0c;
    color: white;
  }
  &--open {
    border-bottom: 1px solid transparent;
    border-radius: 8px 8px 0 0;
  }
  &__title {
    margin: 15px 0 15px 15px;
  }

  &__—Åontainer {
    display: flex;
    gap: 1rem;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: calc(100% + 2px);
    top: 44px;
    border: 1px solid #0c0c0c;
    border-top: none;
    padding: 20px 22px;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
    background: white;
    z-index: 1;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
    &--dark {
      border: 1px solid white;
      border-top: none;
      background: #0c0c0c;
      color: white;
    }
    &--open {
      border-top: none;
      display: flex;
    }
  }
}

.svg {
  display: inline-block;
  position: absolute;
  right: 18px;
  line-height: 1;
  stroke-width: 0;
  &--dark {
    fill: rgba(255, 255, 255, 0.3);
  }

  &--light {
    fill: rgba(0, 0, 0, 0.3);
  }
}
