.expand-select {
  flex: 1 1 25%;
}

.select__control:hover {
  border-color: black;
}

.svg {
  display: inline-block;
  fill: currentColor;
  line-height: 1;
  stroke: currentColor;
  stroke-width: 0;
}
