.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  &--svg {
    width: 64px;
    height: 64px;
  }

  &--toggle {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
