.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  &--dark:after {
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
  }
}

.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #0c0c0c;
  border-color: #0c0c0c transparent #0c0c0c transparent;
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
