.painting {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  &--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &--overlay {
    position: absolute;
    transition: all 0.5s;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 10%;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    font-style: normal;
    //font-family: "Roboto"; should change to roboto
    &__active {
      height: 50%;
    }
    &__active &__description {
      visibility: visible;
    }

    &__description {
      transition: all 0.5s;
      visibility: hidden;
      list-style: none;
      &--item {
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}
