.painting {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  &--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &--overlay {
    position: absolute;
    transition: all 0.5s;
    bottom: 0;
    left: 0;
    padding-left: 15px;
    padding-top: 5px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 10%;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    font-style: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and (max-width: 768px) {
      height: 20%;
    }

    &__active {
      @media screen and (max-width: 768px) {
        height: 80%;
      }
      height: 50%;
      text-overflow: none;
      overflow: visible;
      white-space: pre-line;
    }
    &__active &__description {
      visibility: visible;
    }

    &__description {
      transition: all 0.5s;
      visibility: hidden;
      list-style: none;
      font-size: 13px;
      &--bold {
        font-weight: 500;
        margin-right: 5px;
      }

      &--thin {
        font-weight: 300;
      }

      &--item {
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}
