@mixin svg {
  display: inline-block;
  fill: currentColor;
  line-height: 1;
  stroke: currentColor;
  stroke-width: 0;

  &--dark {
    fill: rgba(255, 255, 255, 0.3);
  }

  &--light {
    fill: rgba(0, 0, 0, 0.3);
  }

  &--rotate {
    transform: rotate(180deg);
  }
}
