.darkTheme {
  background: black;
}

.lightTheme {
  background: white;
}

.main {
  padding: 100px;
  font-family: "Rubik", sans-serif;
  width: 100%;

  @media screen and (max-width: 1365px) {
    padding: 40px;
  }

  @media screen and (max-width: 767px) {
    padding: 20px;
  }
}
